@import "../sass/variables";

.tContainer {
    margin-top: 60px;

    .rejsemål {
        padding: 15px;
        text-align: center;
        background-color: $col_headerGrey;
        border-radius: 8px;
        color: white;
        font-family: Eurostile bold;
    }

    .fContainer {
        padding: 50px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2%;

        .tours {
            position: relative;
            width: 100%;
            border: 0.5px solid lightgrey;
            background-color: white;
            border-radius: 5px;
            padding-bottom: 100px;


            img {
                border-radius: 5px 5px 0 0;
                width: 100%;
                max-height: 210px;

                object-fit: contain;
            }

            .tourGrid {
                
                display: flex;

                .title {
                    h1 {
                        font-family: Eurostile bold;
                        padding: 15px;
                        font-size: 1.5em;
                    }   

                    h2 {
                        font-family: Eurostile bold;
                        color: lightgray;
                        padding: 15px;
                        font-size: 1.2em;
                    }
                }
                .rating {
                    
                    justify-content: right;

                    margin: 20px 0px 0px auto;
                    padding-right: 20px;

                    img {
                        height: 20px;
                        width: 20px;
                        object-fit: contain;
                    }
                }
            }

            .pTag {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 15px 30px 0px 15px;
                font-size: 1.1em;
            }

            #openBtn {
                position: absolute;
                bottom: 0;
                margin: 15px;
                height: 40px;
                width: 100px;
                text-transform: capitalize;
                font-size: 1em;
                background-color: $col_button;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: $col_buttonHover;
                }

                &.active {
                    border: $col_buttonHover 2px solid;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .tContainer {
        margin-top: 60px;
    
        .rejsemål {
            padding: 15px;
            text-align: center;
            background-color: $col_headerGrey;
            border-radius: 8px;
            color: white;
            font-family: Eurostile bold;
        }
    
        .fContainer {
            padding: 50px 0 0 0;
            display: block;
            grid-template-columns: 1fr;
            gap: 2%;
    
            .tours {
                position: relative;
                width: 100%;
                border: 0.5px solid lightgrey;
                background-color: white;
                border-radius: 5px;
                padding-bottom: 100px;
                margin-bottom: 15px;
    
    
                img {
                    border-radius: 5px 5px 0 0;
                    width: 100%;
    
                    object-fit: cover;
                }
    
                .tourGrid {
                    
                    display: flex;
    
                    .title {
                        h1 {
                            font-family: Eurostile bold;
                            padding: 10px;
                            font-size: 1.5em;
                        }   
    
                        h2 {
                            font-family: Eurostile bold;
                            color: lightgray;
                            padding: 10px;
                            font-size: 1.2em;
                        }
                    }
                    .rating {
                        
                        justify-content: right;
    
                        margin: 20px 0px 0px auto;
                        padding-right: 20px;
    
                        img {
                            height: 20px;
                            width: 20px;
                            object-fit: contain;
                        }
                    }
                }
    
                .pTag {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 15px 30px 0px 15px;
                    font-size: 1.1em;
                }
    
                #openBtn {
                    position: absolute;
                    bottom: 0;
                    margin: 15px;
                    height: 40px;
                    width: 100px;
                    text-transform: capitalize;
                    font-size: 1em;
                    background-color: $col_button;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
    
                    &:hover {
                        background-color: $col_buttonHover;
                    }
    
                    &.active {
                        border: $col_buttonHover 2px solid;
                    }
                }
            }
        }
    }

}
