@import "./sass/variables";

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.App {
    background-color: $col_backgroundGrey;

    .login {
        padding: 30px;
        height: 100vh;

        text-align: center;

        h1{
            margin-bottom: 10px;
            font-size: 2em;

        }

        form {

            label{
                font-size: 1.4em;
                input{
                    margin-left: 5px;
                    padding: 5px;
                    width: 250px;
                    font-size: 0.8em;
                    border-radius: 5px;
                    border: 1px solid;
                }

            }

            button{
                padding: 10px 16px;
                font-size: 1.2em;
                text-transform: capitalize;
                color: white;
                z-index: 1;
                background-color: $col_Mbutton;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
}
