@import "../sass/variables";

nav {
    .navbar {
        padding: 20px 0px;
        margin: 0;
        display: flex;
        align-items: center;
        background-color: $col_navbar;

        img {
            height: 80px;
            padding: 15px;
            margin-left: 8%;
            object-fit: contain;
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;

			.logud {
				list-style: none;
				border-radius: 3px;
				color: #a5a5a5;
				font-family: Eurostile bold;
				display: block;
				text-decoration: none;
				font-size: 2em;
				background-color: $col_navbar;
				border: none;

				&:hover {
					color: white;
				}
			}

        }

        li {
            list-style: none;
            border-radius: 3px;

            &:hover {
                color: $col_headerGrey;
                a {
                    color: white;
                }
            }

            a {
                color: #a5a5a5;
                font-family: Eurostile bold;
                display: block;
                text-decoration: none;
                padding: 1rem;
                font-size: 2em;
            }
        }
    }
}
