@import "../sass/variables";

// NAV - overordnet
nav {
	position: sticky;
	top: 0;
	z-index: 999;
}

.navbar {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	background-color: $col_navbar;

	img {
		height: 60px;
		padding: 15px;
		margin-left: 8%;
		object-fit: contain;
	}
}

// BURGER-knap - skjul på stor skærm
.toggle-button {
	display: none;
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;

	.bar {
		height: 3px;
		width: 100%;
		background-color: $col_navbar;
		border-radius: 10px;

		/* Extra - bar1 bar2 og bar3 */
		transition: all 0.2s ease;
	}

	// De 3 streger i burger-ikonet - transition til det her ved "change" på .bar
	&.change .bar1 {
		transform: rotate(-45deg) translate(-5px, 5px);
	}
	&.change .bar2 {
		opacity: 0;
	}
	&.change .bar3 {
		transform: rotate(45deg) translate(-8px, -8px);
	}
}

.navbar-links {
	height: 100%;

	ul {
		display: flex;
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		border-radius: 3px;

		&:hover {
			color: $col_headerGrey;
			a {
				color: white;
			}
		}

		a {
			color: #a5a5a5;
			font-family: Eurostile bold;
			display: block;
			text-decoration: none;
			padding: 1rem;
			font-size: 20px;
		}
	}
}

// BREAKPOINT: Skift til burgermenu
@media (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	// BURGER-knap - vis på lille skærm
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		// Skjul menu (medmindre class active - se herunder)
		display: none; // Skjul
		width: 100%;

		// Hvis class active = vis menu
		&.active {
			display: flex; // Vis
		}

		ul {
			width: 100%;
			flex-direction: column;

			li {
				text-align: center;
				transition: padding 0.5s ease;
			}

			li:hover {
				padding-left: 1rem;
			}

			li a {
				padding: 0.5rem 1rem;
			}
		}
	}
}
