@import "../../sass/variables";

.retFooter{
    height: 100%;
    padding: 40px 200px;

    h1{
        font-family: Eurostile bold;
        text-transform: capitalize;
        
        margin-bottom: 20px;    
    }   

    form{
        label{

            input{
                display: block;
                width: 60%;
                padding: 10px;
                font-size: 18px;
                border-radius: 5px;
                background-color: white;

                border: 2px solid rgba(183, 183, 183, 0.533);
            }

        }

        label {
            h4 {
                font-family: Eurostile bold;
                text-transform: capitalize;

                font-size: 20px;
                margin-bottom: 4px;
            }

            input {
                display: block;
                width: 60%;
                padding: 15px;
                font-size: 20px;
                border-radius: 5px;
                background-color: white;
                margin-bottom: 10px;

                border: 2px solid rgba(183, 183, 183, 0.533);
            }
        }

        button {

            margin: 0 auto 100px auto;
            padding: 6px 10px;
            font-size: 1.4em;
            text-transform: capitalize;
            color: white;
            z-index: 1;
            background-color: $col_Mbutton;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            
        }
    }

}